@{
    Layout = null;
}

@model dbks.Models.Administrator


<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
            font-family: 'Arial', sans-serif;
        }

        .login-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
        }

            .login-container h2 {
                margin-bottom: 20px;
            }

        .form-group {
            margin-bottom: 15px;
        }

            .form-group label {
                display: block;
                margin-bottom: 5px;
            }

            .form-group input {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            .form-group .error {
                color: red;
                font-size: 0.9em;
            }
   </style>
</head>
<body>
    <div class="login-container">
        <h2>登录</h2>
        <h3>@ViewData["Message"]</h3>
        <form action="/Administrator/LoginUser" method="post">
            <div class="form-group">
                <label asp-for="Administratorname" class="control-label"></label>
                <input asp-for="Administratorname" class="form-control" />
                <span asp-validation-for="Administratorname" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Administratorid" class="control-label"></label>
                <input asp-for="Administratorid" type="password" class="form-control" />
                <span asp-validation-for="Administratorid" class="error"></span>
            </div>
            <button type="submit" class="btn btn-custom btn-block">登录</button>
            <div>
                <span asp-validation-summary="All" class="error"></span>
            </div>
        </form>
    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate.unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
