@model Employee
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewData["Title"] = "员工信息管理";
}
<h2>修改员工信息</h2>

<form asp-controller="Employee" asp-action="EmployeeEdit" method="post">
    <input type="hidden" asp-for="EmployeeId" />
    <div class="form-group">
        <label asp-for="Name">姓名</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age">年龄</label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender">性别</label>
        <select asp-for="Gender" class="form-control">
            <option value="">请选择性别</option>
            <option value="男">男</option>
            <option value="女">女</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone">电话</label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">电子邮件</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address">地址</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FamilyInfo">家庭信息</label>
        <input asp-for="FamilyInfo" class="form-control" />
        <span asp-validation-for="FamilyInfo" class="text-danger"></span>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">保存修改</button>
        <button type="button" class="btn btn-primary" onclick="history.back()">返回</button>
    </div>
</form>