body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #4a4a4a;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: #2c3e50;
    padding: 15px;
    overflow-y: auto;
    color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

    .sidebar .nav-link {
        color: #ffffff;
        transition: color 0.3s ease;
        display: block;
        padding: 10px 15px;
        border-radius: 5px;
    }

        .sidebar .nav-link:hover {
            color: #ecf0f1;
            background-color: rgba(255, 255, 255, 0.1);
        }

.content {
    margin-left: 250px;
    padding: 30px;
    background-color: #fff;
    min-height: calc(100vh - 120px); /* 减去顶部和底部导航栏的高度 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: margin-left 0.3s;
    padding-bottom: 90px; /* 为底部导航栏留出空间 */
}

.footer {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%; /* 表格宽度占满父容器 */
    max-width: 800px; /* 最大宽度 */
    border-collapse: collapse;
    margin: 20px auto; /* 居中对齐 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 增加阴影 */
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* 浅灰色 */
}

th {
    background-color: #2c3e50; /* 深蓝色 */
    color: #ffffff; /* 白色 */
}

tr:hover {
    background-color: #f5f5f5; /* 浅灰色 */
}

/* 响应式设计 */
@media (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ddd; /* 浅灰色 */
    }

    td {
        border: none;
        border-bottom: 1px solid #ddd; /* 浅灰色 */
        position: relative;
        padding-left: 50%;
    }

        td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            content: attr(data-label);
            font-weight: bold;
        }
}
.table-container {
    overflow-x: auto; /* 添加水平滚动条 */
}
/* 响应式布局 */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .content {
        margin-left: 0;
    }
}
